<%= form_with(model: page, url: form_url, local: true) do |form| %>
  <% if page.errors.any? %>
    <div class="panel panel-danger">
      <div class="panel-heading">
        <%= pluralize(page.errors.count, "error") %> prohibited this page from being saved:
      </div>

      <div class="panel-body">
        <ul>
          <% page.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <%= form.label :url, class: "control-label" %>
        <%= form.text_field :url, autofocus: true, class: "form-control" %>
        <p class="help-block">Example: "about/contact".</p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <%= form.label :title, class: "control-label" %>
        <%= form.text_field :title, class: "form-control" %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-9">
      <div class="form-group">
        <%= form.label :body, class: "control-label" %>
        <%= cktext_area :page, :body, ckeditor: { toolbar: "mini", height: 400 } %>
      </div>
    </div>
  </div>

  <div class="form-group">
    <%= button_tag type: "submit", class: "btn btn-primary" do %>
      Save
    <% end %>
  </div>
<% end %>
