<% content_for(:title) do %>
  Pages &middot;
<% end %>

<div class="page-header">
  <h1>Pages</h1>
</div>

<%= render 'nav' %>

<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>URL</th>
      <th>Title</th>
      <th>Created at</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% if @pages.empty? %>
      <tr>
        <td colspan="5">There are no records.</td>
      </tr>
    <% else %>
      <% @pages.each do |page| %>
        <tr>
          <td><%= page.id %></td>
          <td><%= page.url %></td>
          <td><%= link_to page.title, edit_admin_page_path(page.id) %></td>
          <td><%= l page.created_at, format: :long %></td>
          <td class="text-center">
            <%= link_to "<span class=\"glyphicon glyphicon-remove\"></span>".html_safe, admin_page_path(page),
              method: :delete,
              data: { confirm: "Are you sure?" } %>
          </td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<%= paginate @pages %>
